.section
{
    background-color: rgb(189, 224, 189);
    width: 100%;
    min-height: 100vh;
    padding-top: 5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.head
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.head p
{
    max-width: 800px;
    text-align: center;
}

.container
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background-color: azure;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.contact
{
    flex: 1;
    padding: 4rem;
    background-color: green;
    border-radius: 10px;
    color: azure;
    height: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact>div
{
    justify-content: flex-start;
}

.form
{
    padding: 10px;
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form>div
{
    flex-direction: column;
}