@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    padding-top: 60px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../public/Office.jpg');
    background-size: cover;
}


.hero>h1{
    margin-top: 10rem;
}